header.page {
	background: #f9f6e6;
	padding: .7rem 1rem;
}

header.page a {
	color: #117390;
	width: 100%;
}

header.page a:hover {
	color: #212529;
	text-decoration: none;
}

header.page .logo {
	font-size: 1.5rem;
	padding-left: 7px;
}

.page .nav {
	justify-content: space-around;
	align-items: center;
}
